node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnpm-debug.log*

.serverless/
.env
.env.*

/dist/
/out-tsc/
/coverage/
/.angular

.vscode/
.idea/
*.sublime-workspace
*.sublime-project

.DS_Store
Thumbs.db

*.log

/coverage/
*.lcov

*.tmp
*.swp
*.swo

.git/